.bannerTourDetails {
    margin-top: 60px;
    width: 100%;
    height: auto;
    max-height: 500px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
  }


  .bannerImageTourDetails {
    width: 100%;
    object-fit: cover;
  }
  
  .tournamentInfoDetails {
    padding: 20px;
    padding-top: 6px;
    background-color: var(--back-dark);
    color: #fff;
    text-align: center;
  }
  
  .titleTourDetails {
    font-size: 2.5rem;
    margin-bottom: 10px;
  }
  
  /* Descripción del torneo */
  .descriptionTourDetails {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  
  .detailsTourDetails {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .detailItemTourDetails {
    font-size: 1rem;
  }
  
  /* Acciones del torneo */
  .actionsTourDetails {
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
    flex: 1 1 100px;
    flex-direction: row;
  }

  @media (max-width: 600px) {
    .actionsTourDetails {
      flex-direction: column;
    }
  }
  
  .actionsTourDetails {
    position: relative;
    padding: 10px 20px;
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 2rem;
  }
  
  .actionsTourDetails::before, 
  .actionsTourDetails::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 1px; 
    background: linear-gradient(to right, #121212 20%, black 30%, rgba(0, 217, 255, 0.973) 90%, black 100%);
  }
  
  .actionsTourDetails::before {
    top: -4px;
  }
  
  .actionsTourDetails::after {
    bottom: -4px;
  }
  
  .joinButtonTourDetails {
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    background-color: rgba(0, 217, 255, 0.973);
    color: #000000;
    font-weight: 600;
    border: none;
  }

  .warningButton {
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    color: #000;
    font-weight: 600;
    border: none;
    background-color: #f6c23e;
  }

  

/* slider details categories */

.tableWrapper {
  display: flex;
  align-items: center;
  overflow-x: auto;
  background-color: transparent;
  width: 95%;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.scrollableTable {
  margin-bottom: 0.1rem;
  border-collapse: collapse;
  margin: auto;
  width: auto;
  text-align: center;
  color: rgba(0, 217, 255, 0.452);
  font-size: 1.1rem;
  width: 100%;
}

.tableWrapper td {
  padding: 7px;
  white-space: nowrap;
}

.scrollableTable div {
  margin-right: .2rem;
  border-bottom: 1px rgba(0, 217, 255, 0.452) solid;
  padding: 10px;
  padding-bottom: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; 
  user-select: none;   
}

.tableWrapper::-webkit-scrollbar {
  height: 2px;
}

.tableWrapper::-webkit-scrollbar-track {
  border-radius: 0;
  background: transparent;
}

.tableWrapper::-webkit-scrollbar-thumb {
  background-color: rgb(0, 0, 0);
  border-radius: 5px;
}

.categoryOption {
  cursor: pointer;
}

.selectedCat {
  color: rgba(0, 217, 255, 0.973) !important;
  border-bottom: 1px rgba(0, 217, 255, 0.938) solid !important;
}


.textInfoSection {
  margin-top: 2rem;
  text-align: left;
}

.textInfoSectionItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-block: 1rem;
  background-color: rgb(4, 4, 26);
  border-radius: 15px;
  min-height: 60px;
  overflow: hidden;
}

.textInfoSectionImage {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 15px;
  object-fit: cover;
  z-index: 1;
}

.textInfoSectionItem h2 {
  position: relative;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  z-index: 2;
  margin: 0;
}

.textInfoSectionItem::before {
  content: '';
  position: absolute;
  border-radius: 15px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:   
  linear-gradient(to bottom, rgb(4, 4, 26), rgba(255, 255, 255, 0)),
  linear-gradient(to right, rgb(4, 4, 26), rgba(6, 6, 61, 0.288));
  z-index: 2;
  pointer-events: none;
}

/* Modal from Join */

.modalJoin {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalJoinContent {
  background: linear-gradient(170deg, #191b27, rgb(5, 8, 17));
  padding: 20px;
  border-radius: 10px;
  width: 500px;
  max-width: 90%;
  text-align: center;
  color: white;
  position: relative;
}

.modalOption div {
  margin-bottom: 10px;
  width: 100%;
  background-color: #262b43;
  color: #ffffff;
  padding: 12px 20px;
  border-radius: 8px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: solid rgba(0, 217, 255, 0.973) 1px;
}

.modalOption div:hover {
  background-color: rgba(0, 217, 255, 0.973);
  color: #000;
}

.modalOption div svg {
  margin-right: 8px;
}

.modalOption {
  background-color: #10121d;
  padding: 10px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  max-width: 400px;
  margin: 0 auto;
}

.closeContainer {
  display: flex;
  justify-content: right;
  text-align: right;
}

.closeButton {
  text-align: right;
  background: none;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
}


/* Modal Form */

.modalForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #262b43;
  border-radius: 8px;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.modalForm h3 {
  color: #ffffff;
  margin-bottom: 15px;
  font-size: 1.2rem;
}

.modalInput {
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  border: 1px solid rgba(0, 217, 255, 0.973);
  border-radius: 8px;
  background-color: #10121d;
  color: #ffffff;
  font-size: 16px;
}

.modalButton, .modalButtonClose {
  width: 100%;
  padding: 12px;
  margin-bottom: 10px;
  background-color: rgba(0, 217, 255, 0.973);
  color: #000;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.modalButton:hover, .modalButtonClose:hover {
  background-color: #ffffff;
}

.modalForm p {
  color: #00d9ff;
  margin-top: 10px;
  font-size: 1rem;
}

.modalOption {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modalTitle {
  font-size: 1.5rem;
  color: #fff;
  margin-bottom: 10px;
}

.splashBannerContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: rgba(7, 9, 38, 0.713);
  height: 300px;
  object-fit: contain;
}


/* MOdal Delete user*/
.modalFooterDeleteMember {
  margin-top: 1rem;
}

.modalFooterDeleteMember button {
  margin: .2rem;
}

.modalTitleDelete {
  font-size: 1.4rem;
  color: #00d9ff;
}


/*  Awards  */

.awardsContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  border-radius: 8px;
  max-width: 450px;
  margin: 0 auto;
}

.awardsContainerSec {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #1a1a1a;
  padding: 20px;
  width: 400px;
  border-radius: 8px;
}

.awardsTitle {
  color: white;
  font-size: 1.5rem;
  margin-bottom: 15px;
  text-align: center;
}

.awardItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border-radius: 8px;
  color: black;
  font-weight: bold;
  cursor:default;
  font-family:'Times New Roman', Times, serif;
  font-style:oblique;
}


.topThreeAwards {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.awardItem.gold {
  background: linear-gradient(0deg,hsla(0,0%,100%,0) -22.86%,hsla(0,0%,100%,0) 63.07%,hsla(0,0%,100%,.2) 63.48%),linear-gradient(90deg,#cfb35d,rgba(207,179,93,0) 13.72%),hsla(45,78%,76%,.9);
}

.awardItem.silver {
  background: linear-gradient(0deg,hsla(0,0%,100%,0) -22.86%,hsla(0,0%,100%,0) 63.07%,hsla(0,0%,100%,.2) 63.48%),linear-gradient(90deg,#9e9e9e,hsla(0,0%,62%,0) 44.41%),hsla(0,0%,80%,.9);
}

.awardItem.bronze {
  background: linear-gradient(0deg,hsla(0,0%,100%,0) -22.86%,hsla(0,0%,100%,0) 63.07%,hsla(0,0%,100%,.2) 63.48%),linear-gradient(90deg,#ec8c50,rgba(236,139,80,0) 44.41%),hsla(23,81%,80%,.9);
}

.awardIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(2, 20, 29);
  box-shadow: 0px 3px 6px #525050;
  border-radius: 13px;
  width: 45px;
  height: 45px;
  margin-right: 10px;
}

.awardItem.gold .awardIcon .trophyIcon {
  color: rgb(224, 198, 52);
}

.awardItem.silver .awardIcon .trophyIcon {
  color: rgb(226, 225, 235);
}

.awardItem.bronze .awardIcon .trophyIcon {
  color: rgb(211, 154, 31);
}

.awardItem:hover {
  filter:brightness(110%);
}

.trophyIcon {
  font-size: 26px;
}

.awardDetails {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
}

.position {
  font-size: 1.2rem;
}

.amount {
  font-size: 1.2rem;
}




/* Para premios a partir del cuarto lugar */
.otherAwards {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.awardItemOther {
  display: flex;
  justify-content: space-between;
  padding: 7px;
  border-radius: 8px;
  background: linear-gradient(90deg, #18292b, #2bc4c4d2);
  color: white;
  font-weight: bold;
  cursor:default;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  font-family:'Times New Roman', Times, serif;
  font-weight: 600;
  font-style:oblique;
}

.awardItemOther:hover {
  filter:brightness(110%);

}

.awardItemOther .position {
  font-size: 1.2rem;
  color: #e0f7fa;
}

.awardItemOther .amount {
  font-size: 1.2rem;
  color: #0f0f0f;
  background-color: #1e2c2c;
  padding: .3rem;
  border-radius: 10px;
  font-weight: 450;
  color: white;
}

.teamAndAwardCont {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.lineWinnerTeam{
  font-size: .8rem;
  margin-top: .2rem;
}

.teamAndAwardCont .teamName {
  text-decoration: none;
  color: white;
  background-color: #140f46;
  border-radius: 7px;
  padding: .3rem;
  white-space: nowrap
  
}

.teamAndAwardCont .teamName:hover {
  background-color: #120b5c;
}



@media (max-width: 390px) {
  .splashBannerContainer {
    height: 130px; 
  }

  .amount {
    font-size: 1rem;
  }

  .awardDetails {
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  .awardIcon {
    width: 40px;
    height: 40px;
  }

  .awardItem {
    padding: 10px 10px;
  }

  .awardItemOther .amount {
    font-size: .9rem;
  }
  
  .teamAndAwardCont {
    text-align: left;
  }
}



@media (max-width: 350px) {
  .descriptionTourDetails {
    font-size: 1rem;
  }

  .titleTourDetails {
    font-size: 1.5rem;
  }

  .modalOption {
    margin-top: 20px;
    padding: 0;
  }
}

@media (max-width: 268px) {
  .modalJoinContent {
    width: auto;
  }

  .modalOption {
    margin-top: 20px;
    padding: 0;
  }

  .modalOption div {
    flex-direction: column;
  }

  .modalOption div span {
    margin-right: 0;
    padding-left: 0;
    font-size: .9rem;
    margin-top: 6px;
  }
}